<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-P20R79WS7N"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-P20R79WS7N");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K52CCHS3");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elia Cohen - {{{title}}}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
    />
    <script type="module">
      import hljs from
      'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/es/highlight.min.js';
      hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../css/style.css" />

    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Portfolio, Maffie, Elia Cohen, Development, Web Development"
    />
    <meta name="description" content="Elia Cohen's development portfolio" />
    <meta name="author" content="Elia Cohen" />

    <meta property="og:image" content="https://maffie.dev/maffiepix.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="128" />
    <meta property="og:image:width" content="128" />
    <meta
      property="og:image:alt"
      content="A small pixel art icon of a girl with black hair on a white background."
    />
    <meta property="og:site_name" content="Elia Cohen" />
    <meta property="og:url" content="https://maffie.dev" />
    <meta
      property="og:description"
      content="Hi I'm Elia! I love art and programming. This is my portfolio of academic and personal projects."
    />
    <meta property="og:title" content="Elia Cohen" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="pix_elia" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K52CCHS3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header id="name-section">
      <span id="name">Elia Cohen</span>
    </header>
    <nav class="terminal-command">
      <a id="back-to-main" href="/">$ cd ..</a>
    </nav>
    <article id="blog">
      {{{body}}}
    </article>
    <footer>
      <h4>Check me out!</h4>
      <ul>
        <li><a href="https://www.linkedin.com/in/maffier/"><i
              class="fab fa-linkedin"
            ></i>
            LinkedIn</a></li>
        <li><a href="https://github.com/maffiemaffie"><i
              class="fab fa-github-square"
            ></i>
            Github</a></li>
        <li><a href="/blogs/resume">Resume</a></li>
      </ul>
      Made by me :)
    </footer>
  </body>
</html>