<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elia Cohen - {{{title}}}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
    />
    <script type="module">
      import hljs from
      'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/es/highlight.min.js';
      hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header id="name-section">
      <span id="name">Elia Cohen</span>
    </header>
    <nav class="terminal-command">
      <a id="back-to-main" href="/">$ cd ..</a>
    </nav>
    <article id="blog">
      {{{body}}}
    </article>
    <footer>
      <h4>Check me out!</h4>
      <ul>
        <li><a href="https://www.linkedin.com/in/maffier/"><i
              class="fab fa-linkedin"
            ></i>
            LinkedIn</a></li>
        <li><a href="https://github.com/maffiemaffie"><i
              class="fab fa-github-square"
            ></i>
            Github</a></li>
      </ul>
      Made by me :)
    </footer>
  </body>
</html>